[Desktop Entry]
Categories=Application;
Comment=Une suite logicielle intégrée pour la saisie de schémas et le routage de circuits imprimés
Comment[fr]=Une suite logicielle intégrée pour la saisie de schémas et le routage de circuits imprimés
Encoding=UTF-8
Exec=kicad
GenericName=
GenericName[fr]=
Icon=kicad_icon.png
MimeType=
Name=KiCad
Name[fr]=KiCad
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
